<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334290680991-ou6qvb1qovtkn1ust2bhqerhpbqgh7el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334290680991-ou6qvb1qovtkn1ust2bhqerhpbqgh7el</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334290680991-9b8se1v6mpm294fok3cjf8dc54fmhv0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiQa_VP_kCQB7vgOjy_TBRzJ2hAxa0kEI</string>
	<key>GCM_SENDER_ID</key>
	<string>334290680991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativemp3</string>
	<key>PROJECT_ID</key>
	<string>reactnativemp3</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativemp3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334290680991:ios:6a50fad49333145f0fb6aa</string>
</dict>
</plist>